---
import { baseurl, posturl } from "@/env/envs"
import Metadatas from "@/components/Metadatas.astro"
const favicon = baseurl + "favicon.svg"
interface Props {
    pageTitle: string
    cardPath: string
    robots: string[]
    hidePostButton: boolean
}
const { cardPath, pageTitle, robots, hidePostButton } = Astro.props
---

<html lang="ja">
    <head>
        <link rel="icon" href={favicon} />
        <Metadatas cardPath={cardPath} pageTitle={pageTitle} robots={robots} />
    </head>
    <body
        class="relative bg-fixed flex flex-col h-auto bg-gradient-to-b from-transparent to-sky-300 text-gray-700 overflow-x-hidden max-w-dvw mx-auto"
        style="min-height: 100dvh"
    >
        <slot name="header" />
        <div class="flex-grow">
            <slot />
        </div>
        {
            !hidePostButton && (
                <a href={posturl} class="sm:hidden block">
                    <div
                        class="fixed bottom-8 
                                right-4 rounded-full 
                                bg-white p-4 border-4 
                                border-sky-400 hover:scale-125 
                                transition-all shadow-md"
                    >
                        <svg
                            class="w-8 h-8"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 200.013 200"
                        >
                            <g
                                class="fill-sky-400"
                                transform="translate(-14.183 -263.559)"
                            >
                                <path
                                    d="M205.117,272.643a31.052,31.052,0,0,0-41.815-1.894l43.7,43.7a31.052,31.052,0,0,0-1.889-41.811Zm-51.257,3.493L19.5,410.5l-3.948,50.526-1.368,1.368,1.274-.1-.11,1.265,1.368-1.368,50.535-3.938L201.612,323.891Zm.779,33.858,13.117,13.117-62.734,62.734L91.905,372.728Z"
                                    transform="translate(0 0)"
                                />
                            </g>
                        </svg>
                    </div>
                </a>
            )
        }
        <slot name="footer" />
    </body>
</html>
