---
interface Props {
    pageTitle: string
    cardPath: string
    robots: string[]
    hideLoader?: boolean
}
const { cardPath, pageTitle, robots } = Astro.props
import Footer from "@/components/Footer.astro"
import Blanklayout from "@/layouts/Blanklayout.astro"
import App from "@/components/Client"
---

<Blanklayout
    cardPath={cardPath}
    pageTitle={pageTitle}
    robots={robots}
    hidePostButton={false}
>
    <div class="container mx-auto p-2 max-w-5xl">
        <div class="bg-white bg-opacity-80 p-2 rounded-lg">
            <slot />
        </div>
        <App portalonly={true} client:only />
    </div>
    <slot name="outofcontainer" />
    <Footer slot="footer" />
</Blanklayout>
