---
import Pagelayout from "@/layouts/Pagelayout.astro";
import { subject } from "@/utils/tailwind_variants";
import { servicename, version } from "@/utils/vars";
const title = `404 Not found - ${servicename}`;
const robots = ["noindex", "nofollow", "noarchive", "noimageindex"];
---

<Pagelayout
    cardPath=`/materials/ogp_main.png?updated=${version}`
    pageTitle={title}
    robots={robots}
    hidePostButton={false}
>
    <h1 class={subject({ size: "xl" })}>404 not found.</h1>
    Sorry but the page seems removed.
</Pagelayout>
