---
import Pagelayout from "@/layouts/Pagelayout.astro"
import { servicename } from "@/env/vars"
import version from "@/env/version"

const title = `404 Not found - ${servicename}`
const robots = ["noindex", "nofollow", "noarchive", "noimageindex"]
---

<Pagelayout
    cardPath=`/materials/ogp_main.png?updated=${version}`
    pageTitle={title}
    robots={robots}
    hidePostButton={false}
>
    <h1>404 not found.</h1>
    Sorry but the page seems removed.
</Pagelayout>
