---
import {
	baseurl,
	siteurl,
	pagesPrefix,
	servicename,
	github_url,
	zenn_profile,
} from "@/utils/vars";
import Pagelayout from "@/layouts/Pagelayout.astro";
const example_url = new URL(
	baseurl + pagesPrefix + "/nlla.bsky.social_3kk7qzpffl22n/",
	siteurl,
);
import { subject, link } from "@/utils/tailwind_variants";
import { Picture } from "astro:assets";
import ogp_example from "@/images/ogp_nlla.bsky.jpg";
import link_img from "@/images/link.svg";

const title = `About - ${servicename}`;
const robots = ["nofollow", "noarchive", "noimageindex"];
---

<Pagelayout
	cardPath="/materials/ogp_main.png"
	pageTitle={title}
	robots={robots}
	hidePostButton={true}
>
	<div class="mb-8">
		<h2 class={subject({ size: "xl" })}>{servicename}</h2>
		<div class={subject({ size: "m" })}>
			{
				servicename
			}は、Bluesky投稿専用クライアント、およびOGP/リンクジェネレータです。
		</div>
	</div>
	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>詳しい仕組み</h3>
		<div>
			<div>
				当サイトからポストを行うと、Blueskyへの投稿と同時に、
				OGPカードおよび画像が設定されたWebページを生成します。
			</div>
			<div>
				<a class={link()} href={example_url}>
					例としてはこのようなページが生成されます。
				</a>
				ツイートしようとすると、以下のような画像(1200x630px)がツイートに添付されます。
			</div><div>
				初回のみ読み込み時間はありますが、ツイート前・後問わず必ず挿入されます。
			</div>
			<div class="my-4">
				<Picture
					class="md:max-w-xl shadow-lg mx-auto w-4/5"
					src={ogp_example}
					alt=""
				/>
			</div>
			<div>
				Bluesky投稿から生成されたWebページをTwitterにて投稿していただくことで、両SNSへの投稿を疑似的にサポートする、というサービスとなります。
			</div>
			<div class="mb-4">
				Bluesky投稿後、以下のような投稿を生成する投稿リンクを払い出されるので、Twitterへの投稿もスムーズです。
			</div>
			<img class="w-4 inline-block" src={link_img.src} />

			<a
				target="_blank"
				class={link()}
				href={`https://twitter.com/intent/tweet?text=投稿リンクのサンプルです。&url=${example_url}`}
				>投稿リンクの例（投稿用の本文付きで𝕏が開きます）</a
			>
		</div>
	</div>

	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>OGP/生成ページの有効期限について</h3>
		<div>
			<div class="mb-4 font-medium">2024/02/03(Beta): 新規記載</div>
			<div>
				DB容量の節約のため、生成したOGPおよびOGPに紐づけられたWebページは90日後削除されます。
				また、本規約の制定より前に投稿されたページについても規約制定より90日後に削除させていただきます。
				なお、Webページが削除されてもBlueskyおよびXの投稿は残ります。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>生成ページの削除機能について</h3>
		<div>
			<div class="mb-4 font-medium">2024/02/03(Beta): 新規記載</div>
			<div>
				Twitter用に生成したページを削除できるようになりました。ログインした状態でページを開くと「ページを削除」ボタンが表示されるので
				これを押していただけば削除可能です。
			</div>
			<div>
				生成ページがユーザの投稿であるかを判定するため、Blueskyの元のポストを参照しています。元ポストが削除されている場合はページ削除は
				出来ませんので、申し訳ありませんが自動削除をお待ちください。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<h2 class={subject({ size: "l" })}>ソースコードについて</h2>
		<div>
			<div>
				Blueskyを操作するAPIである
				ATProtocolは開発段階であるため、マニュアルや前例が少なく
				まだまだハードルが高い内容となっています。
			</div>
			<div>
				開発者がもっと低い敷居で参加できたらという想いから、
				当サイトではBlueskyのAPI操作を行っている部分も含め、
				<a href={github_url} class={link()}
					>全てのソースコードを公開しています。
				</a>
			</div>
			<div>
				ATProtocolの習熟や、サービスの開発に役立てていただければ幸いです。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<div>
			<h2 class={subject({ size: "l" })}>もっと詳しく</h2>
			<div>
				当サイトはもちろんサービスとしてあったらいいなという想いから制作しましたが、
				これに加えてTypescript、React、Astro等の技術習得の学習の一環という側面もあります。
				<a href={zenn_profile} class={link()}
					>Zennへ当サイトの開発についての技術的な解説等の執筆</a
				>を予定してます。
			</div>
		</div>
	</div>
</Pagelayout>
