---
export const prerender = false
import Pagelayout from "@/layouts/Pagelayout.astro"
import Loadingcircle from "@/components/loadingcircle.astro"
import { servicename } from "@/env/vars"
const title = `${servicename}`
const robots = ["noindex", "nofollow", "noarchive", "noimageindex"]
---

<Pagelayout
    cardPath=`/materials/ogp_main.png`
    pageTitle={title}
    robots={robots}
    hideLoader={true}
    hidePostButton={true}
>
    <div class="p-0 mx-auto
            items-center text-center">
        <div id="bload">
            <Loadingcircle size="l" />
        </div>
        <div id="app"></div>
    </div>
</Pagelayout>
