---
import Pagelayout from "@/layouts/Indexlayout.astro";
import { servicename, githuburl } from "@/utils/vars";
import { abouturl, posturl, qaurl, changeurl } from "@/utils/envs";
const title = `${servicename} - Share Bluesky to X`;
import version from "@/utils/version";

import Xicon from "@/components/Xicon.astro";
import Bskyicon from "@/components/Bskyicon.astro";

// const svgtag_url = `url('/materials/tag.svg')`;
const robots = ["index", "follow", "noarchive", "noimageindex"];
---

<!-- <style define:vars={{ svgtag_url }}>
	.tag {
		mask-image: var(--svgtag_url);
		mask-size: 100%;
		mask-repeat: no-repeat;
		background: #ff8f8f;
		aspect-ratio: 135/50;
		font-size: min(4vw, 28px);
	}
</style> -->
<Pagelayout
	cardPath=`/materials/ogp_main.png?updated=${version}`
	pageTitle={title}
	robots={robots}
>
	<div class="text-center mx-auto md:max-w-3xl my-4 font-extrabold relative">
		<div class="relative">
			<div
				class="absolute right-[10%] -bottom-[10%] font-mono text-sky-500"
				style="font-size: min(24px,3.7vw)"
			>
				{version}
			</div>
			<img
				src="/materials/longlogo.svg"
				class="max-w-2xl mb-8 mx-auto w-11/12"
				alt={servicename}
			/>
			{
				/* 
			<div
				class="tag aspect-auto[135/73] top-2/3 left-3/4 max-w-32 w-1/5 font-mono absolute leading-none font-extrabold rotate-12"
			>
				<span
					class="block top-0 bottom-0 left-3 right-0 m-auto w-min h-min absolute text-gray-700"
					>&nbsp;*Beta</span
				>
			</div>
			*/
			}
		</div>
		<div class="max-w-3xl my-4 text-2xl font-normal">
			<div class="h-16">
				<Bskyicon />
				<span class="align-middle">と</span>
				<Xicon />
			</div>
			<span class="block my-2 text-xl">同時投稿を"少し楽にする"</span>
			<span class="block my-2 text-xl">ウェブアプリです</span>
		</div>

		<a
			href={posturl}
			class="bg-white text-xl
					bg-opacity-80 border-0 py-4 px-10
					focus:outline-none hover:bg-sky-200
					inline-flex rounded-full transition-colors shadow-md"
			>Blueskyへログイン
		</a>
		<div class="max-w-xl my-4 mx-auto text-lg font-normal">
			<div>アプリ化、対応しています</div>
			<div class="text-sm">
				<img
					src="/apple-touch-icon.png"
					class="w-20 h-20 rounded-2xl mx-auto mb-1"
				/>
				Skyshare
			</div>
			<div>「ホーム画面に追加」からどうぞ</div>
		</div>

		<div class="text-center mx-auto md:max-w-3xl my-5">
			<div
				class="bg-white bg-opacity-80 rounded-lg w-fit px-4 py-2 m-auto"
			>
				<a href={abouturl} class="mx-2">About</a>
				<a href={changeurl} class="mx-2">Changelog</a>
				<a href={qaurl} class="mx-2">Q&A</a>
				<a href={githuburl} class="mx-2">Github</a>
			</div>
		</div>
	</div>
</Pagelayout>
