---
import { servicename, authorlink, authorname, authormail } from "@/env/vars"
import Pagelayout from "@/layouts/Pagelayout.astro"
const title = `Privacy Policy - ${servicename}`
const robots = ["index", "nofollow", "noarchive", "noimageindex"]
import version from "@/env/version"
---

<Pagelayout
    robots={robots}
    cardPath=`/materials/ogp_main.png?updated=${version}`
    pageTitle={title}
    hidePostButton={true}
>
    <h1>プライバシーポリシー</h1>
    <div class="mb-8">
        <h3>個人情報の収集・利用</h3>
        <div class="mb-4">
            {
                servicename
            }（以下、当サイト）は、サービスの提供のために以下の情報を収集・利用します。
        </div>
        <ul class="mb-4 list-disc pl-8">
            <li>Blueskyへの一時的アクセスのためのトークン情報</li>
            <li>Blueskyへ投稿されたポストの識別子</li>
            <li>Blueskyへ投稿されたPNG/JPEG等の画像</li>
            <li>Blueskyのハンドルネーム（ユーザのドメイン名）</li>
        </ul>
        <div>
            また、メールでのお問い合わせなどの際にハンドルネーム、
            メールアドレスなどの個人情報をいただく場合があります。
        </div>
        これらの情報は当サイトがサービスを提供するために利用させていただくものであり、
        それ以外の目的では利用いたしません。
    </div>
    <div class="mb-8">
        <h3>データの第三者提供について</h3>
        <div class="mb-4">
            当サイトでは法令及びガイドラインに別段の定めがある場合を除き、
            同意を得ないで第三者に個人情報を提供することはいたしません。
        </div>
    </div>
    <div class="mb-8">
        <h3>アクセス解析ツールについて</h3>
        <div class="mb-4">
            <div>
                当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
                このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
                このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
            </div>
            <div>
                この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
            </div>
            <div>
                Googleのプライバシーポリシーについては
                <a
                    href="https://policies.google.com/technologies/partner-sites"
                >
                    こちらをご覧ください。</a
                >
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h3>運営者情報</h3>
        <div>
            当サイトは、ねこの（blueskyID:
            <a href={authorlink}>{authorname}</a>）によって
            個人的に開発・運営されています。
        </div>
        <div>
            メールでのご連絡の場合は
            <a href=`mailto: ${authormail}`>{authormail}</a>
            へお願いします。
        </div>
    </div>

    <div class="mb-8">
        <h3>プライバシーポリシーの変更について</h3>
        <div>
            当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、
            本ポリシーの内容を適宜見直しその改善に努めます。
        </div>
        <div>
            修正された最新のプライバシーポリシーは常に本ページにて開示されます。
        </div>
    </div>
</Pagelayout>
