---
import {
    githuburl,
    servicename,
    zennurl,
    authorlink,
    authorname,
} from "@/env/vars"
import Pagelayout from "@/layouts/Pagelayout.astro"
import version from "@/env/version"

const title = `About - ${servicename}`
const robots = ["index", "nofollow", "noarchive", "noimageindex"]
---

<Pagelayout
    cardPath=`/materials/ogp_main.png?updated=${version}`
    pageTitle={title}
    robots={robots}
    hidePostButton={true}
>
    <div class="mb-8">
        <h1>Q & A</h1>
        <h3>
            一応主要機能は完成したためリリースしましたが、まだまだおかしなところがあるかもしれません...
        </h3>
        <div>
            不具合報告はウェルカムです！見落とし、予想外、不安定、これらによるバグ、全然あると思います。
            基本的にはねこの一人で作ってるため、デバッガーは何人いても助かります！
            もちろんBlueskyへのリプでの問い合わせやGithubへのIssue作成・PRも大歓迎です。
        </div>
    </div>

    <div class="mb-8">
        <h2>ログインできません...</h2>
        <div>
            <h4>
                <div>
                    Email or
                    IDの入力はあっていますか？IDの場合は@は含める必要はありません！
                    <b
                        >また、IDは".bsky.social"を含めてください（ドメインまで含めてID扱いです）</b
                    >
                </div>
                <div>
                    AppPasswordの入力はあっていますか？非推奨ですがBluesky公式アプリにログインするパスワードも使えます。
                </div>
                <div class="font-medium">
                    PCブラウザの場合、拡張機能が悪さしている可能性があります（ありました）
                </div>
            </h4>
            <div>
                ログインの仕組み自体はBlueskyのAPIに準拠しています。
                そのため入力内容でログインできない場合は、他のサードパーティクライアントや、
                Bluesky公式アプリへのログインさえもできないかもしれません。ご確認ください。
            </div>
            <div>
                Chromeにてログインできないという報告を受けた際に拡張機能が原因ではと被疑し、
                Edgeで実施したらログインできたといった話がありました。拡張機能・コンテンツブロッカーにつきましてはOFFでご利用ください。
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h2>Xへポストボタンが押しても反応しない...</h2>
        <div>
            <h4>
                コンテンツブロッカーの影響で（報告事例だと280blocker）Javascriptによるポップアップを制限しているなど、
                Xへポストボタンが機能していない可能性があります。
            </h4>
            <div>
                コンテンツブロッカーをオフにするか、ホワイトリストへの追加をお願いします。
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h2>OGPカード(X側の画像サムネイル)が表示されない</h2>
        <div>
            <h4>
                <div>
                    X側のOGPカードの読み込みが間に合っていないのが原因です。
                </div>
                <div>
                    投稿してからしばらく待つ、心配な場合は投稿前にカードが読み込まれるのをお待ちください。
                </div>
            </h4>
            <div>
                同時多発的に発生した場合はまちがいなくバグですが、そうではない場合は単にXがOGPの読み込みに時間がかかっているか、読み込みに失敗しています。
                生成URLの末尾にURLクエリ（<code>?update=01</code
                >等）を差し込むことで改善する場合があります。
            </div>
            <div>
                数十分たってもなかなか読み込まれない場合はOGP生成に失敗している場合が
                （ほとんどの場合ありませんが）無いとは言い切れないため、問い合わせしていただければと思います。
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h2>URLの埋め込みって対応していないの？</h2>
        <div>
            <h4>
                <b>v1.4.0~にて対応しました！</b>
            </h4>
            <div>
                ただし、全てのサイトには対応できませんでした...投稿前にリンクカードの取得を試みて、サイトが対応しているかの確認をお願いします。
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h2>タイッツー対応は？Misskeyは？Mastdonは？</h2>
        <div>
            <h4>そもそもねこのが登録してないんです。ごめんね...</h4>
            <div>
                <a href=`${zennurl}#動機`
                    >Zennにも記載していますが、当サイトの目的はあくまでTwitterユーザをBlueskyに連れていくことを目的とし、
                    Blueskyにコンテンツを増やすため</a
                >に作られました。
                ただ、基本の機能を損なわない、使い勝手としてもシンプルなまま追加できるのであれば、できることが
                多いに越したことはないとは思うので「やりません」とは言い切りません。検討とさせてください。
            </div>
            <div>
                ...簡単だったのでこっそりタイッツーのボタンオプションを追加してみました。
                ただし、<a href="https://taittsuu.com/share_link"
                    >使用マニュアル</a
                >に則った設置を行っただけで、動作確認はしていません（そのため、パッチアップデートにも含めていません。）
                上手く動かない可能性があります。ご了承ください。
            </div>
        </div>
    </div>
    <div class="mb-8">
        <div>
            <h4>それでも解決しない場合...</h4>
            <div>
                この辺を読んでもだめそうでしたら<a href={authorlink}
                    >{authorname}</a
                >に問い合わせください。ベストエフォートで回答します。
            </div>
            <div>
                もちろん<a href={githuburl}>
                    SkyshareはOSS
                </a>ですから、ソースコードを読んで理解したり、Issueを出していただいたり、PR修正を提案してくださるのもウェルカムです！
            </div>
        </div>
    </div>
</Pagelayout>
