---
import { servicename } from "@/env/vars"
import Pagelayout from "@/layouts/Pagelayout.astro"
import version from "@/env/version"

const title = `SkyThrow introduction - ${servicename}`
const robots = ["index", "noarchive", "noimageindex"]
---

<Pagelayout
    cardPath=`/materials/ogp_main.png?updated=${version}`
    pageTitle={title}
    robots={robots}
    hidePostButton={true}
>
    <div class="my-4">
        <h1>SkyThrowの紹介</h1>
        <h3>Bluesky投稿専用クライアント「SkyThrow」についての紹介です。</h3>
        <div class="my-4">
            当サービスではネイティブ対応は行わずPWAアプリとして、Xへのクロスポスト補助ツールとしてのBluesky投稿専用クライアントとしてサービスを展開していましたが、ついに<a
                href="https://skythrow.com"
                >ネイティブアプリ対応の投稿専用クライアント「SkyThrow」</a
            >がリリースされました！
        </div>
        <div class="my-2">
            <a class="text-lg" href="https://skythrow.com"
                >SkyThrow | SkyThrow (https://skythrow.com)</a
            >
        </div>
        <div class="mx-auto max-w-xl">
            <blockquote
                class="bluesky-embed"
                data-bluesky-uri="at://did:plc:5nor25cnkgdkhfgkgmgz4tn5/app.bsky.feed.post/3ksfkrrziz62l"
                data-bluesky-cid="bafyreiev5o7lddp4uces2y52c4pxmyxaluilhlifvovgd24tgurzqvmnjy"
            >
                <p lang="ja">
                    I have released an Android ver. of SkyThrow, a dedicated
                    bluesky posting client. We has the basic functions for
                    posting, while focusing on the convenience of multiple
                    accounts and hashtags.
                    bluesky投稿専用クライアント「SkyThrow」のAndroid版をリリースしました。投稿に必要な基本機能を持ちつつ、マルチアカウントとハッシュタグへの便利を注力したクライアントとなります。
                    #SkyThrow <br /><br /><a
                        href="https://bsky.app/profile/did:plc:5nor25cnkgdkhfgkgmgz4tn5/post/3ksfkrrziz62l?ref_src=embed"
                        >[image or embed]</a
                    >
                </p>&mdash; SkyThrow (<a
                    href="https://bsky.app/profile/did:plc:5nor25cnkgdkhfgkgmgz4tn5?ref_src=embed"
                    >@skythrow.com</a
                >) <a
                    href="https://bsky.app/profile/did:plc:5nor25cnkgdkhfgkgmgz4tn5/post/3ksfkrrziz62l?ref_src=embed"
                    >May 14, 2024 at 6:01</a
                >
            </blockquote><script
                async
                src="https://embed.bsky.app/static/embed.js"
                charset="utf-8"></script>
        </div>
        <div class="my-4">
            こちら、<b
                >投稿の共有機能を用いることで、Xや様々なサービスへのクロスポストが可能です。</b
            >
        </div>
        <div class="mx-auto max-w-md w-fit">
            <iframe
                class="w-fit h-auto aspect-[1/2]"
                src="https://www.youtube.com/embed/laUPVd6Lfvc"
                title='bluesky post only client "SkyThrow" DEMO'
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </div>
        <div class="my-4">
            現在はAndroid版とiOS版がすでにリリースされています！<br
            />
            ぜひ「SkyThrow」をご利用ください。
        </div>
        <b
            >インストールはこちら → <a
                class="text-lg"
                href="https://skythrow.com/help/install/"
                >Install ／インストール | SkyThrow
                (https://skythrow.com/help/install/)</a
            ></b
        >
    </div>
</Pagelayout>
