---
import { baseurl, siteurl, pagesPrefix } from "@/utils/vars";
import Pagelayout from "@/layouts/Pagelayout.astro";
const example_url = new URL(
	baseurl + pagesPrefix + "/nlla.bsky.social_3kk7qzpffl22n/",
	siteurl,
);
import { subject, link } from "@/utils/tailwind_variants";
import { Picture } from "astro:assets";
import ogp_example from "@/images/ogp_nlla.bsky.jpg";
import link_img from "@/images/link.svg";
import { github_url } from "@/utils/vars";
const robots = ["nofollow", "noarchive", "noimageindex"];
---

<Pagelayout
	cardPath="/materials/ogp_main.png"
	pageTitle="About - BskyLinx"
	robots={robots}
>
	<div class="mb-8">
		<h2 class={subject({ size: "xl" })}>Bluesky Link-𝕏</h2>
		<div class="mb-4">
			<div>
				BskyLinXは、青空（Bluesky）の民が地に落ちた青い鳥（Twitter,現𝕏）の民を救うべく生まれたWebサービスです。「ブルースカイ
				リンクス」と読みます。
			</div>
		</div>
		<div>
			Bluesky Link-𝕏
			は、Bluesky投稿専用クライアント、およびOGPジェネレータです。
		</div>
		<div>
			<b>本サービスはBluesky・𝕏への同時投稿を簡略化します。</b>
		</div><div>
			これにより、Blueskyを軸に添えた活動への移行を補助します。
		</div>
	</div>
	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>詳しい仕組み</h3>
		<div>
			<div>
				本サービスからポストを行うと、Blueskyへの投稿と同時に、
				OGPカードおよび画像が設定されたWebページを生成します。
			</div>
			<div>
				本Webサービスを実行すると
				<a class={link()} href={example_url}>
					このようなページが生成されます。
				</a>
				ツイートしようとすると、以下のような画像(1200x630px)がツイートに添付されます。
			</div><div>
				初回のみ読み込み時間はありますが、ツイート前・後問わず必ず挿入されます。
			</div>
			<div class="my-4">
				<Picture
					class="md:max-w-xl shadow-lg mx-auto w-4/5"
					src={ogp_example}
					alt=""
				/>
			</div><div>
				OGPが生成されたWebページはグローバルに利用が可能です。
			</div><div>
				あなたのBluesky投稿から生成されたWebページをTwitterにて投稿していただくことで、両SNSへの投稿をサポートします。
			</div>
			<div>
				「投稿後に自分でTwitter開くの面倒くさいな...」という方も安心してください。
			</div>
			<div class="mb-4">
				以下のような一瞬で投稿を生成する投稿リンクを払い出しますので、あなたは𝕏アプリ上で投稿ボタンを押すだけです！
			</div>
			<img class="w-4 inline-block" src={link_img.src} />

			<a
				target="_blank"
				class={link()}
				href={`https://twitter.com/intent/tweet?text=投稿リンクのサンプルです。&url=${example_url}`}
				>投稿リンクの例です（投稿用の本文付きで𝕏が開きます）</a
			>
		</div>
	</div>

	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>OGP/生成ページの有効期限について</h3>
		<div>
			<div class="mb-4 font-medium">2024/02/02(Beta): 新規記載</div>
			<div>
				DB容量の節約のため、生成したOGPおよびOGPに紐づけられたWebページは180日後削除されます。
				また、本規約の制定より前に投稿されたページについても規約制定より180日後に削除させていただきます。
				OGPおよびOGPに紐づけられたWebページは、180日後データベースからは削除されますが、BlueskyおよびXの投稿は残ります。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<h3 class={subject({ size: "l" })}>生成ページの削除機能について</h3>
		<div>
			<div class="mb-4 font-medium">2024/02/03(Beta): 新規記載</div>
			<div>
				Twitter用に生成したページを削除できるようになりました。ログインした状態でページを開くと「ページを削除」ボタンが表示されるので
				これを押していただけば削除可能です。
			</div>
			<div>
				生成ページがユーザの投稿であるかを判定するため、Blueskyの元のポストを参照しています。元ポストが削除されている場合はページ削除は
				出来ませんので、申し訳ありませんが自動削除をお待ちください。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<h2 class={subject({ size: "l" })}>ソースコードについて</h2>
		<div>
			<div>
				Blueskyを操作するAPIである
				ATProtocolは開発段階であるため、マニュアルや前例が少なく
				まだまだハードルが高い内容となっています。
			</div>
			<div>
				開発者がもっと低い敷居で参加できたらという想いから、
				当サイトではBlueskyのAPI操作を行っている
				<a href={github_url} class={link()}
					>フロントエンドのソースコードを公開しています。
				</a>
			</div>
			<div>
				ATProtocolの習熟や、サービスの開発に役立てていただければ幸いです。
			</div>
		</div>
	</div>

	<div class="mb-8">
		<div>
			<h2 class={subject({ size: "l" })}>もっと詳しく</h2>
			<div class="">
				Zennへ本サービスの開発について執筆を予定してます。
				気になる方はぜひ...
				<div>
					気にならない方は...ぜひサービスを使ってください。Goodbye
					X... Hello Bluesky!
				</div>
			</div>
		</div>
	</div>
</Pagelayout>
