---
interface Props {
    pageTitle: string;
    cardPath: string;
}
const { cardPath, pageTitle } = Astro.props;

const url = Astro.url;
const cardUrl = new URL(cardPath, Astro.url);

const description =
    "SkyDrop is a web application helps bluesky users post to both bluesky or twitter(X.com).";
---

<title>{pageTitle}</title>
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="skydrop" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@" />
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={cardUrl} />
<meta property="og:image" content={cardUrl} />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="noindex,nofollow,noarchive,noimageindex" />
<script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-JDS7QWVYQB"></script>
<script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-JDS7QWVYQB");
</script>
